/* Google Fonts "Inter" insert here */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    background-color: #111111;
    color: white;
}
/* Shared Styles */
body{
    max-width: 80rem;
    margin: 0 auto;
}
#header{
    margin-top: 3rem;
}
.fa-bars{
    display: none;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.nav-menu>ul{
    display: flex;
    gap: 2rem;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
}
.nav-menu>ul>li{
    list-style: none;
}
.fitness h2{
    color: #E6533C;
    font-style: italic;
    font-size: 36px;
    font-weight: 800;
    line-height: 120%;
}
.menu{
    text-decoration: none;
}
.selected-menu{
    background-color: #E6533C;
    padding: 0.5rem 1.2rem;
    border-radius: 1.2rem;
}
.about{
    margin-right: 1.5rem;
}







/* Responsive Responsibility Resources */
/* For Small Devices */
@media screen and (max-width:576px) {
    .nav-menu{
        display: none;
    }
    .fitness{
        margin-left: 1rem;
    }
    .fa-bars{
    display: block;
    margin-right: 1rem;
    }
}



/* Medium Devices */
@media screen and (min-width:576px) and (max-width:992px){
    .fitness{
        margin-left: 1.5rem;
    }
}