/* Google Fonts "Inter" insert here */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    background-color: #111111;
    color: white;
}
/* Shared Styles */
body{
    max-width: 80rem;
    margin: 0 auto;
}
.btn-primary{
    border-radius: 42px;
    background-color: rgba(230, 83, 60, 1);
    padding: 1rem 2.5rem 1rem 2.5rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 22px;
    border: none;
    cursor: pointer;
}

/* web design starts here */
#header{
    margin-top: 3rem;
}
.fa-bars{
    display: none;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.nav-menu>ul{
    display: flex;
    gap: 2rem;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
}
.nav-menu>ul>li{
    list-style: none;
}
.fitness h2{
    color: #E6533C;
    font-style: italic;
    font-size: 36px;
    font-weight: 800;
    line-height: 120%;
}
.menu{
    text-decoration: none;
}
.selected-menu{
    background-color: #E6533C;
    padding: 0.5rem 1.2rem;
    border-radius: 1.2rem;
}
.about{
    margin-right: 1.5rem;
}

/* banner styles */
#banner{
    margin-top: 3rem;
}
.banner-container{
    display: flex;
    gap: 167px;
    align-items: center;
    justify-content: center;
}
.banner-half h1{
    font-size: 78px;
font-weight: 900;
line-height: 120%;
margin-bottom: 1.8rem;
}
.banner-half p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 1.9rem;
}
.btn-download{
    border-radius: 42px;
    border: 1px solid rgba(255, 255, 255, 1);
    background-color: #a8a7a70a;
}
.banner-content{
    width: 50%;
}
.banner-btn{
    gap: 1.2rem;
    display: flex;
}
.banner-right{
    display: flex;
    justify-content: end;
    width: 50%;
}
.tooltip{
    background-color: rgba(128, 128, 128, 0);
    position: absolute;
    top: 310px;
    right: 250px;
    padding: 20px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
}
.tooltip h2, .tooltip2 h2{
    font-size: 2.5rem;
}
.tooltip p, .tooltip2 p{
    color: antiquewhite;
}
.tooltip2{
    display: flex;
    background-color: rgba(128, 128, 128, 0);
    position: absolute;
    padding: 20px;
    bottom: 300px;
    right: 550px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    align-items: center;
    gap: 2rem;
}
.circle{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #E6533C;
}
.tooltip2 h2, p{
    background-color: rgba(174, 137, 137, 0);
}


/* Responsive Responsibility Resources */
/* For Small Devices */
@media screen and (max-width:576px) {
    .nav-menu{
        display: none;
    }
    .fitness{
        margin-left: 1rem;
    }
    .fa-bars{
    display: block;
    margin-right: 1rem;
    }
    /* Hero Banner responsive */
    .banner-container{
    flex-direction: column;
    }
    .banner-content{
    width: 100%;
    margin-left: 20px;
        }
.banner-right{
    width: 100%;
        }
.tooltip2{
    bottom: -720px;
    right: 260px;
}
.tooltip{
    top: 1000px;
    right: -30px;
}
.tooltip h2, .tooltip2 h2{
    font-size: 2rem;
}
}



/* Medium Devices */
@media screen and (min-width:576px) and (max-width:992px){
    .fitness{
        margin-left: 1.5rem;
    }
    /* Hero Banner responsive */
    .banner-container{
    flex-direction: column;
    }
    .banner-content{
    width: 100%;
    margin-left: 20px;
        }
.banner-right{
    width: 100%;
        }
.tooltip2{
    bottom: -720px;
    right: 260px;
    }
.tooltip{
    top: 1000px;
    right: -30px;
    }
.tooltip h2, .tooltip2 h2{
    font-size: 2rem;
    }
}
